.header
{
	background-color: rgba(20, 20, 20, .99);
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	height: 60px;
	border-bottom: 1px #e2725b solid;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
	display: flex;
	align-items: center;
	padding: 5px 15px;
	color: #fff;
	justify-content: space-between;
}

.header ul
{
	display: none;
}

.logoWrapper
{
	display: flex;
	align-items: center;
}

.rudder
{
	max-height: 40px;
	height: auto;
	width: auto;
	margin-right: .8em;
	transition: .2s;
}

.rudder:hover
{
	transform: scale(1.05);
}

@media only screen and (min-width: 500px)
{
	.rudder
	{
		/* display: none; */
	}

	.header ul
	{
		display: flex;
		list-style: none;
		padding: 0;
		font-size: 1.1em;
		text-transform: uppercase;
	}

	.header .projectCta
	{
		color: #000;
		display: block;
		background-color: #e2725b;
		border-radius: 10px;
	}
}

.header ul li
{
	outline: none;
	margin: 0 .8em;
	transition: color .1s;
}

.header ul li:hover, header ul li.active
{
	color: #e2725b;
}

.logo
{
	font-size: 1em;
	color: #e2725b;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.projectCta
{
	display: none;
}

/* Old compass component's style */

.compass
{
	position: fixed;
	top: 20px;
	left: 20px;
	z-index: 7;
	height: auto;
	width: 70px;
	transition: .2s;
	display: none;
}

.hider
{
	z-index: 5;
	background-color: #000;
	opacity: .8;
	position: fixed;
	width: 0;
	opacity: 0;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	transition: opacity .2s;
}

.hider.visible
{
	width: 100%;
	opacity: 0.8;
}

.compass:hover
{
	transform: scale(1.1);
}

.menu
{
	color: #fff;
	position: fixed;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	top: 0;
	bottom: 0;
	left: 0;
	width: 0;
	max-width: 100%;
	z-index: 6;
	background-color: rgb(20, 20, 20);
	background:
	/* top, transparent black, faked with gradient */ 
	linear-gradient(
	rgba(0, 0, 0, 0.95), 
	rgba(0, 0, 0, 0.95)
	),
	/* bottom, image */
	url('/menu_bg.jpg');
	background-position: center;
	background-size: cover;
	transition: all .3s;
}

.menu.visible
{
	width: 450px;
}

.menu *
{
	position: relative;
	z-index: inherit;
}

.menu > h1
{
	letter-spacing: 2px;
	text-transform: uppercase;
	opacity: 0;
	transition: .2s;
}

.menu > h1.visible
{
	opacity: 1;
}

.menu > .tab.activated
{
	color: #e2725b;
}

.backgroundColor
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #000;
	opacity: 0.8;
	z-index: 5;
}
