.languageWrapper
{
	display: flex;
	align-items: center;
	justify-content: center;
}

.languageWrapper > * {
	margin: 0 .3em;
}

.flagWrapper {
	overflow: hidden;
}

.flagWrapper > img
{
	border-radius: 2px;
	object-fit: cover;
	width: 30px;
	transition: opacity .1s;
	opacity: .5;
}

.flagWrapper > img:hover, .flagWrapper > img.selected
{
	opacity: 1;
}
