.compass
{
	position: fixed;
	top: 20px;
	left: 20px;
	z-index: 7;
	height: auto;
	width: 70px;
	transition: .2s;
}

.hider
{
	z-index: 5;
	background-color: #000;
	opacity: .8;
	position: fixed;
	width: 0;
	opacity: 0;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	transition: opacity .2s;
}

.hider.visible
{
	width: 100%;
	opacity: 0.8;
}

.compass:hover
{
	transform: scale(1.1);
}

.menu
{
	color: #fff;
	position: fixed;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	top: 0;
	bottom: 0;
	left: 0;
	width: 0;
	max-width: 100%;
	z-index: 6;
	background-color: rgb(20, 20, 20);
	background:
	/* top, transparent black, faked with gradient */ 
	linear-gradient(
	rgba(0, 0, 0, 0.8), 
	rgba(0, 0, 0, 0.8)
	),
	/* bottom, image */
	url('/menu_bg.jpg');
	background-position: center;
	background-size: cover;
	transition: all .3s;
}

.menu.visible
{
	width: 400px;
}

.menu *
{
	position: relative;
	z-index: inherit;
}

.menu > h1
{
	letter-spacing: 2px;
	text-transform: uppercase;
	opacity: 0;
	transition: .2s;
}

.menu > h1.visible
{
	opacity: 1;
}

.menu > .tab.activated
{
	color: #e2725b;
}

.backgroundColor
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #000;
	opacity: 0.8;
	z-index: 5;
}
