.image
{
	background-size: cover;
	background-repeat: no-repeat;
	z-index: 2;
	/* filter: blur(2px); */
}

.background
{
	z-index: 1;
}

.background, .image
{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
