.mainContainer
{
  padding-top: 60px;
  background-color: #191b1f;
}

.contentContainer
{
  line-height: 1.5em;
  padding: 1.5em 0;
  color: #6b7280;
  display: flex;
}

.headingContainer
{
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1em;
  padding-bottom: 1em;
  min-height: 150px;
  background-attachment: fixed;
}

.headingContainer h1, .headingContainer h2, .h.headingContainer h3
{
  margin: 0.2em 0;
}


/* SIDENAV STYLE */

.sidenav
{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display:none;
  top: 70px;
  padding: 10px;
  max-height: calc(100vh - 100px);
  margin-left: 1.5em;
  color:  rgba(255, 255, 255, .75);
  font-size: 1em;
  position: sticky;
  align-self: flex-start;
  overflow: auto;
}

.markdownWrapper
{
  color:  rgba(255, 255, 255, .75);
  width: 100%;
  font-size: 1.2em;
  line-height: 1.5em;
}

@media only screen and (min-width: 1000px)
{
  .markdownWrapper
  {
    width: 68%;
  }

  .sidenav
  {
    display: block;
  }
}

.sidenav div
{
  opacity: .7s;
  white-space: no-wrap;
}

.sidenav div:hover
{
  color: #e2725b;
  transition: .2s;
}

.heading1
{
  color: rgb(255, 255, 255, .75);
  text-transform: uppercase;
  letter-spacing: 1.1px;
  font-size: 1.1em;
  border-bottom: 1px rgba(0, 0, 0, .2) dotted;
  margin-bottom: 1em;
}

.heading2
{
  font-weight: 700;
  margin-bottom: .5em;
}

.heading3
{
  margin-bottom: .3em;
}

/* END OF SIDENAV STYLE */

.postHeader
{
  padding-top: 2em;
  padding-bottom: 2em;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 1.5em;
  color: rgb(255, 255, 255, .75);
  max-width: 800px;
  text-align: center;
}

.postHeader h1
{
  margin: 0;
}

.postHeader p
{
  opacity: .8;
  margin: 5px 0;
}

.separator
{
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  border-color: rgb(255, 255, 255, .2);
  margin: 1em 0;
}

.metablock
{
  align-self: flex-start;
  display: flex;
  align-items: center;
  font-size: .75em;
  opacity: .8;
  text-transform: uppercase;
  text-align: left;
  gap: 10px;
}

.authorImage
{
  border-radius: 50%;
}

.postImage
{
  margin: 1em 0;
  max-height: 550px;
  width: auto;
  max-width: 100%;
}

.postHeader .tagList
{
  display: flex;
  align-content: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  color: #e2725b;
  text-transform: uppercase;
  font-size: .7em;
  gap: 5px;
}

.postHeader .tagList > span
{
  padding: 10px 5px;
}
