.mainContainer
{
  padding-top: 60px;
}

.contentContainer
{
  font-size: 1.25em;
  line-height: 1.5em;
  padding: 1.5em 0;
}

.headingContainer
{
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1em;
  padding-bottom: 1em;
  min-height: 150px;
  background-attachment: fixed;
}

.headingContainer h1, .headingContainer h2, .h.headingContainer h3
{
  margin: 0.2em 0;
}

.inlineCode
{
  font-family: Terminus;
  font-size: 1.2em;
  padding: 0 5px;
}
