.projectContainer
{
    background-color: #191b1f;
    color: rgba(255, 255, 255, .75);
    padding-bottom: 1em;
}

.projectWrapper h1, .projectWrapper h2 {
    margin: 5px;
    text-align: center;
}

.projectWrapper h2 {
    font-weight: 400;
    color: rgb(255, 255, 255 .75);
}

.projectWrapper h1 {
    font-family: Terminus;
    font-size: 2.5em;
    margin: 10px 0;
    color: #e2725b;
}

.projectWrapper {
    background-color: rgb(20, 20, 20);
    padding-top: 2em;
    padding-bottom: 2em;
    color: #fff;
    border-bottom: 2px rgb(240, 240, 240) solid;
}

.illustrationImg {
    display: block;
    margin: 0 auto;
    max-height: 400px;
    width: auto;
    border-radius: 5px;
    max-width: 100%;
}

.banner {
    min-height: 150px;
    width: 100%;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-bottom: 2px rgb(240, 240, 240) solid;
}

.banner > .technologyIcons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.banner > div > img {
    max-height: 50px;
    margin: 0 5px;
}

.banner > a
{
    background-color: #fff;
    color: #000;
    padding: 7px;
    border: none;
    font-size: 1em;
    text-transform: uppercase;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    transition: .2s;
}

.banner > a:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.banner > a > svg {
    max-height: 25px;
}

.projectContent {
    font-size: 1.2em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.projectContent h3 {
    font-size: 1.8em;
    border-bottom: 2px rgba(255, 255, 255, .05) solid;
    text-transform: uppercase;
    font-family: Terminus;
    padding-bottom: .25em;
    margin: 1.2em 0;
}

.projectContent > ul {
    padding-left: .7em;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.projectContent > ul > li {
    margin: 5px;
    padding-left: 10px;
}

.projectContent > ul > li::marker {
    content: "âª";
    color: #e2725b;
}

.projectContent > p {
    line-height: 1.5em;
}