.image 
{
	margin: 0 auto;
	max-height: 400px;
	height: auto;
	width: auto;
	display: block;
	transition: opacity .2s;
	max-width: 100%;
};

.image:hover
{
	opacity: .9;
}

.anchorHeading
{
	display: flex;	
	align-items: center;
	line-height: 2.5em;
}

.anchorHeading span
{
	font-size: 2em;
	color: #e2725b;
	margin-right: .2em;
	opacity: .4;
	transition: opacity .2s;
}

.anchorHeading.separator
{
	border-bottom: 2px rgba(0, 0, 0, .2) solid;
}

.anchorHeading span:hover
{
	opacity: 1;
}

.anchorHeading span:active
{
	opacity: 0.7;
}

.inlineCode
{
	color: #e2725b;
	font-family: Terminus;
	font-weight: 700;
	font-size: 1.1em;
	padding: 0 5px;
}

.anchor
{
	color: #0645AD;
}

.anchor:hover
{
	text-decoration: underline;
}

.blockquote
{
	border: 3.5px #e2725b solid;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	border-radius: 5px;
	padding: 5px 10px;
	margin: 0;
	font-size: 1.1em;
	color: rgba(0, 0, 0, .8);
}
