.image 
{
	margin: 0 auto;
	max-height: 400px;
	height: auto;
	width: auto;
	display: block;
	transition: opacity .2s;
	max-width: 100%;
};

.image:hover
{
	opacity: .7;
}

.anchorHeading
{
	display: flex;	
	align-items: center;
	line-height: 2.5em;
	color: rgba(255, 255, 255, .85);
}

.anchorHeading h1, .anchorHeading h2, .anchorHeading h3
{
	scroll-margin-top: 65px;
}

.anchorHeading span
{
	font-size: 2em;
	color: #e2725b;
	margin-right: .2em;
	opacity: .4;
	transition: opacity .2s;
}

.anchorHeading.separator
{
	border-bottom: 1.5px rgba(255, 255, 255, .2) solid;
}

.anchorHeading span:hover
{
	opacity: 1;
}

.anchorHeading span:active
{
	opacity: 0.7;
}

.anchorHeading span
{
	border: none;
}

.inlineCode
{
	color: #e2725b;
	font-family: Consolas;
	font-weight: 400;


  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	padding: 0 5px;
}

.anchor
{
	color: #e2725b;
	opacity: .9;
	border-bottom: 1px #111827 dotted;
	transition: border-color .2s;
}

.anchor:hover
{
	border-color: #e2725b;
}

.blockquote
{
	border: 3.5px #e2725b solid;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	border-radius: 5px;
	padding: 5px 10px;
	margin: 0;
	font-size: 1.1em;
	color: rgba(0, 0, 0, .8);
}
