.container
{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	z-index: 3;
}

.imageBackground
{
	/* background-attachment: fixed; */
	background-size: cover;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
}

.backgroundImageColor
{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 2;
}


.fullWidth
{
	width: 100%;
}

.bgImage
{
	background-size: cover;
	background-repeat: no-repeat;
}

.container.edgePadded
{
	padding-left: 20px;
	padding-right: 20px;
}

.container.fillPageHeight
{
	min-height: 100vh;
}

@media only screen and (min-width: 770px)
{
	.container.limitedWidth
	{
		width: 80%;
	}
}

@media only screen and (min-width: 1100px)
{
	.container.limitedWidth
	{
		width: 70%;
	}
}

@media only screen and (min-width: 1400px)
{
	.container.limitedWidth
	{
		width: 60%;
	}
}
