.footer
{
	background-color: rgba(20, 20, 20);
	min-height: 300px;
	color: #fff;
}

.footerBlockWrapper
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-top: 1.5em;
	padding-bottom: 1.5em;
}

.footerBlock
{
	display: flex;
	flex-direction: column;
	align-items: center;
}

@media only screen and (min-width: 700px)
{
	.footerBlockWrapper
	{
		flex-direction: row;
	}
}

.footerContactInfo
{
	text-align: center;
}

.footerContainer
{
	padding-top: 1.5em;
	padding-bottom: 1.5em;
}

.footerContactInfo p
{
	margin: 0.5em;
}

.footerBlock ul
{
	margin: 0;
	padding: 0;
}

.footerBlock ul > li
{
	list-style: none;
	font-size: 1.1em;
	transition: opacity .2s;
	margin-bottom: .5em;
}

.footerBlock ul > li:hover
{
	opacity: 0.8;
}

.footerBlock > h3
{
	font-size: 1.6em;
	font-weight: 400;
	letter-spacing: 2px;
	text-transform: uppercase;
	padding-bottom: 0.2em;
	border-bottom: 1px rgb(255, 255, 255, .2) solid;
	border-radius: 2px;
	color: #e2725b;
}

.socials svg
{
	height: auto;
	width: auto;
	max-height: 30px;
	fill: #e2725b;
	margin: 0 .5em;
	transition: .2s;
}

.socials svg:hover
{
	opacity: .8;
}
