.blogHeaderWrapper {
  background-color: rgb(20, 20, 20);
  min-height: 300px;
  color: #fff;
  text-align: center;
}

.blogHeader
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: inherit;
}

.tagList
{
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  padding: 5px;
}

.tag
{
  background-color: rgb(18, 18, 18);
  border: 1px #e2725b solid;
  color: #e2725b;
  padding: 5px 10px;
  margin: 5px;
  opacity: .8;
  transition: .2s;
}

.tag.selected, .tag:hover, .previewTag.selected
{
  background-color: #e2725b !important;
  color: #000;
}

.tag:hover
{
  cursor: pointer;
}

.blogHeaderWrapper h1
{
  font-size: 3em;
  margin: 0;
}

.blogHeaderWrapper h2
{
  font-size: 1.6em;
  opacity: .8;
}

.mainContainer {
  padding-top: 1em;
  background-color: #191b1f;
  padding-bottom: 1em;
}

/* BLOGPOST */

.blogpostPreviewWrapper
{
  display: flex;
  padding: 1em 0;
  justify-content: space-between;
  gap: 3em;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

@media screen and (min-width: 1000px)
{
  .blogpostPreviewWrapper.vertical
  {
    max-width: 50%;
  }
}

.blogpostPreviewWrapper.vertical
{
  flex-direction: column;
  justify-content: flex-start;
  gap: 1em;
  flex: 1 1 301px;
}

.blogpostPreviewWrapper a
{
  position: relative;
  flex: 1 1 auto;
  min-height: 300px;
}

.blogpostPreviewWrapper.vertical a
{
  max-height: 200px !important;
  min-height: 200px;
}

.blogpostPreviewWrapper a img
{
  border-radius: 2px;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blogpostPreviewWrapper .content
{
  display: flex; /* is itself a flex container */
  flex-direction: column;
  justify-content: center;
  flex: 0 1 400px;
  color: #fff;
  font-size: 1.2em;
  padding: 0 8px;
}

.blogpostPreviewWrapper.vertical .content
{
  justify-content: space-between;
  flex-basis: 0;
}

.blogpostPreviewWrapper .content h3
{
  opacity: .9;
  font-size: 1.5em;
}

.blogpostPreviewWrapper .content p
{
  color: rgb(180, 180, 180);
  line-height: 1.5em;
}

.blogpostPreviewWrapper .content .postTags
{
  display: flex;
  flex-wrap: wrap;
  font-size: 0.65em;
  color: #e2725b;
  text-transform: uppercase;
  gap: 5px;
}

.blogpostPreviewWrapper.vertical .content .postTags
{
  display: flex;
  flex-basis: 2em;
  align-content: flex-start;
}

.blogpostPreviewWrapper.vertical .content .postTags > span
{
  display: block;
}

.blogpostPreviewWrapper .content .postTags > span
{
  background-color: rgb(18, 18, 18);
  padding: 5px 10px;
}


.blogpostsInline
{
  gap: 1em;
  display: flex;
  flex-wrap: wrap;
}

.blogpostSeparator
{
  margin: 1.5em 0 1em 0;
  border-color: rgb(100, 100, 100);
}

.metablock
{
  display: flex;
  align-items: center;
  font-size: .8em;
  opacity: .8;
  text-transform: uppercase;
  gap: 10px;
}

.authorImage
{
  border-radius: 50%;
}
