@use 'core';

.blogHeaderWrapper {
    background-color: rgb(20, 20, 20);
    min-height: 250px;
    color: #fff;
    text-align: center;
}

.blogHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: inherit;

    h1 {
        text-transform: uppercase;
        letter-spacing: 3px;
        font-size: 2.5em;
        margin: 0;
    }

    h3 {
        font-size: 1.5em;
        opacity: 0.8;
    }

    .tagList {
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: center;
        padding: 5px;

        .tag {
            background-color: #000;
            border: 1px core.$primary-color solid;
            color: core.$primary-color;
            padding: 5px 10px;
            margin: 5px;
            opacity: 0.8;
            text-transform: uppercase;
            transition: 0.2s;
            font-size: 0.7em;

            &:hover,
            &.selected {
                cursor: pointer;
                background-color: core.$primary-color;
                color: core.$secondary-color;
            }
        }
    }
}

.mainContainer {
    padding-top: 1em;
    background-color: #b55b49;
    padding-bottom: 1em;
    min-height: 100vh;
}

.filteringTools {
    display: flex;
    flex-direction: column;
    align-items: center;

    border: 2px core.$primary-color solid;

    background-color: #191b1f;
    padding: 1em;
    color: #fff;
    border-radius: 1.5rem;
    transform: translateY(-3.5em);

    .searchInputs {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: .5em;
    }

    input {
        padding: .4em .8em;
        font-size: 1.1em;
        min-width: 50%;
    }

    select {
        font-size: .9em;
        background-color: #fff;
    }
}

/* BLOGPOST */

.blogpostsWrapper {
    display: grid;
    align-items: stretch;
    grid-template-rows: 1fr;

    @media only screen and (min-width: 600px) {
        grid-template-columns: 1fr 1fr;
    }

    @media only screen and (min-width: 1400px) {
        grid-template-columns: 1fr 1fr 1fr;
    }

    column-gap: 0.5em;
    row-gap: 0.5em;
}

.blogpostPreviewWrapper {
    height: 100%;
    transition: 0.2s transform;
    &:hover {
        transform: translateY(-1em);
    }

    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    overflow: hidden;
    background-color: #191b1f;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: 2px core.$primary-color solid;

    .content {
        display: flex; /* is itself a flex container */
        flex-direction: column;
        justify-content: space-between;
        padding: 1em;
        height: 100%;
        color: #fff;

        h3 {
            min-height: 100px;
            text-align: center;
            opacity: 0.9;
            text-transform: uppercase;
            font-size: 1.3em;
            letter-spacing: 1px;
            margin-top: 0.5em;
        }

        p {
            color: rgb(180, 180, 180);
            line-height: 1.5em;
        }

        .metablock {
            display: flex;
            align-items: center;
            font-size: 0.8em;
            opacity: 0.8;
            text-transform: uppercase;

            div {
                margin-left: 0.35em;
            }

            .authorImage {
                border-radius: 50%;
            }
        }
    }

    .imageWrapper {
        position: relative;
        min-height: 270px;
        max-height: 200px !important;
        min-height: 200px;

        .imageBack {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: core.$background-color;
            display: flex;
            align-items: center;
            justify-content: center;
            text-transform: uppercase;
            flex-direction: column;
        }

        img {
            border: 10px #191b1f solid;
            border-radius: 1rem;
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.blogpostSeparator {
    margin: 1.5em 0 1em 0;
    border-color: rgba(255, 255, 255, 0.1);
}
