@use 'core';

.mainContainer {
    background-color: core.$background-color;
}

.contentContainer {
    line-height: 1.5em;
    color: core.$text-color;
    display: flex;
}

/* SIDENAV STYLE */

.markdownWrapper {
    width: 100%;
}

.postHeader {
    padding-top: 2em;
    padding-bottom: 1em;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 1.1em;
    color: core.$light-text-color;
    max-width: 800px;
    text-align: center;

    h1 {
      font-size: 2em;
    }

    p {
      margin: .5em 0;
    }

    .tagList {
        display: flex;
        align-content: flex-start;
        justify-content: center;
        flex-wrap: wrap;
        color: core.$primary-color;
        text-transform: uppercase;
        font-size: 0.7em;
        letter-spacing: 1.2px;
        margin-right: 0.2em;

        span {
          background-color: core.$secondary-color;
            padding: 8px;
            border-radius: 2px;
            margin-left: .5em;
        }
    }

    .postHeader p {
        opacity: 0.8;
        margin: 5px 0;
    }

    .separator {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        border-color: rgb(255, 255, 255, 0.2);
        margin: 0.5em 0;
    }

    .metablock {
        align-self: flex-start;
        display: flex;
        align-items: center;
        font-size: 0.75em;
        opacity: 0.8;
        text-transform: uppercase;
        text-align: left;

        div {
            margin-left: 0.4em;
        }

        .authorImage {
            border-radius: 50%;
        }
    }

    .postImage {
        margin: 1em 0;
        max-height: 550px;
        width: auto;
        max-width: 100%;
    }
}

.sidenav {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: none;
    top: 70px;
    padding: 10px;
    max-height: calc(100vh - 100px);
    margin-left: 1.5em;
    color: rgba(255, 255, 255, 0.75);
    position: sticky;
    align-self: flex-start;
    z-index: 4;
    width: 30%;
    overflow: auto;

    .heading1 {
        color: rgb(255, 255, 255, 0.75);
        text-transform: uppercase;
        letter-spacing: 1.1px;
        font-size: 1.1em;
        border-bottom: 1px rgba(255, 255, 255, 0.2) solid;
        padding-bottom: 2px;
        margin-bottom: 1em;
    }

    .heading2 {
        font-size: 0.95em;
        font-weight: 700;
        margin-bottom: 0.5em;
    }

    .heading3 {
        margin-bottom: 0.3em;
        font-size: 0.9em;
    }

    div {
        opacity: 0.7s;
        white-space: no-wrap;

        &:hover {
            color: core.$primary-color;
            transition: 0.2s;
        }
    }

    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }

    &::-webkit-scrollbar-thumb {
        background-color: #e2725b;
        border-radius: 5px;
    }

    &::-webkit-scrollbar {
        background-color: rgb(20, 20, 20);
        width: 7px;
    }
}

@media only screen and (min-width: 1000px) {
    .markdownWrapper {
        width: 68%;
    }

    .sidenav {
        display: block;
    }
}

/* END OF SIDENAV STYLE */
