.contactWrapper
{
  padding-top: 70px;
  background-color: #191b1f;
}

.contactContainer
{
  font-size: 1.5em;
}

.contactContainer h1
{
  color: rgba(255, 255, 255, .95);
  font-size: 2em;
}

.contactContainer p
{
  color: rgba(255, 255, 255, .75);
}

.contactContainer a
{
  color: #e2725b;
  margin: 0 2px;
  padding-bottom: 3px;
  transition: .2s;
  border-bottom: 1px transparent dotted;
}

.contactContainer a:hover
{
  border-color: #e2725b;
}
