.contactWrapper
{
  padding-top: 1em;
  background-color: #191b1f;
}

.contactContainer
{
  font-size: 1.5em;
}

.contactContainer h1
{
  color: rgba(255, 255, 255, .95);
  font-size: 2em;
  text-decoration: underline;
  margin: 0;
}

.contactContainer p
{
  color: rgba(255, 255, 255, .75);
}

.contactContainer p a
{
  color: #e2725b;
  margin: 0 2px;
  padding-bottom: 3px;
  transition: .2s;
  border-bottom: 1px transparent dotted;
}

.contactContainer p a:hover
{
  border-color: #e2725b;
}

.contactContainer .socials
{
  fill: rgba(255, 255, 255, .9);
}
