@use 'core';

.footer {
	background-color: #000;
	min-height: 300px;
	color: #fff;
}

.footerBlockWrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-top: 1em;
	padding-bottom: 1em;
}

@media only screen and (min-width: 700px) {
	.footerBlockWrapper {
		flex-direction: row;
	}

	.footerBlock {
		margin: 0;
	}
}

.footerContactInfo {
	text-align: center;
}

.footerContainer {
	padding-top: 1.5em;
	padding-bottom: 1.5em;
}

.footerContactInfo p {
	margin: 0.5em;
	color: core.$light-text-color;
}

.footerBlock {
	margin: .5em 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;

	@media only screen and (min-width: 800px) {
		text-align: left;
		align-items: stretch;
	}
	
	ul {
		margin: 0;
		padding: 0;

		li {
			list-style: none;
			transition: opacity 0.2s;
			margin-bottom: 0.5em;

			&:hover {
				opacity: 0.8;
			}
		}
	}

	h3 {
		color: #fff;
		text-transform: uppercase;
		font-size: 1.4em;
	}
}

.socials {
	fill: core.$text-color;
}
