@use 'core';

.footer {
	background-color: #000;
	min-height: 300px;
	color: #fff;
}

.footerBlockWrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	row-gap: 0.3em;
	margin: 0 auto;
	max-width: 300px;

	@media only screen and (min-width: 900px) {
		& {
			max-width: 100%;
			flex-direction: row;
			justify-content: space-between;
		}
	}
	column-gap: 1em;
	padding-top: 1em;
	padding-bottom: 1em;
}

.footerContactInfo {
	text-align: center;
}

.footerContainer {
	padding-top: 1.5em;
	padding-bottom: 1.5em;
}

.footerContactInfo p {
	margin: 0.5em;
	color: core.$light-text-color;
}

.footerBlock {
	display: flex;
	flex-direction: column;
	align-items: center;

	ul {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		margin: 0;
		padding: 0;

		li {
			list-style: none;
			transition: opacity 0.2s;
			margin-bottom: 0.5em;

			&:hover {
				color: core.$primary-color;
			}
		}
	}

	h3 {
		text-align: center;

		color: #fff;
		text-transform: uppercase;
		font-size: 1.4em;
	}

	@media only screen and (min-width: 1000px) {
		& {
			align-items: flex-start;
		}
		h3 {
			text-align: left;
		}
	}
}

.socials {
	fill: core.$secondary-color;
}

.logoBlock {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	max-width: 400px;
	margin: 0 auto;
	text-align: center;
}

.footerBottom {
	text-align: center;
	border-top: 2px rgba(255, 255, 255, 0.1) solid;
	padding-top: 1em;

	@media only screen and (min-width: 800px) {
		& {
			text-align: left;
		}
	}
}
