@use 'core';

@font-face {
    font-family: 'Calibre';
    font-style: light;
    font-weight: 100;
    font-display: swap;
    src: url('/fonts/CalibreLight.woff2') format('woff2'),
        url('/fonts/CalibreLight.woff') format('woff'),
        url('/fonts/CalibreLight.ttf') format('truetype');
}
@font-face {
    font-family: 'Calibre';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/CalibreRegular.woff2') format('woff2'),
        url('/fonts/CalibreRegular.woff') format('woff'),
        url('/fonts/CalibreRegular.ttf') format('truetype');
}
@font-face {
    font-family: 'Calibre';
    font-style: bold;
    font-weight: 700;
    font-display: swap;
    src: url('/fonts/CalibreBold.woff2') format('woff2'),
        url('/fonts/CalibreBold.woff') format('woff'),
        url('/fonts/CalibreBold.ttf') format('truetype');
}

@font-face {
    font-family: 'MonoLisa';
    src: url('/fonts/MonoLisa-regular.woff2') format('woff2'),
        url('/fonts/MonoLisa-regular.woff') format('woff'),
        url('/fonts/MonoLisa-regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'MonoLisa';

    src: url('/fonts/MonoLisa-RegularItalic.woff2') format('woff2'),
        url('/fonts/MonoLisa-RegularItalic.woff') format('woff'),
        url('/fonts/MonoLisa-RegularItalic.ttf') format('truetype');

    font-style: italic;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Terminus';

    src: url('/fonts/terminus/terminus-italic.woff2') format('woff2'),
        url('/fonts/terminus/terminus-italic.woff') format('woff'),
        url('/fonts/terminus/terminus-italic.ttf') format('truetype');

    font-style: italic;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Terminus';

    src: url('/fonts/terminus/terminus-bold-italic.woff2') format('woff2'),
        url('/fonts/terminus/terminus-bold-italic.woff') format('woff'),
        url('/fonts/terminus/terminus-bold-italic.ttf') format('truetype');

    font-style: italic;
    font-weight: 700;
    font-display: swap;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0.3em 0;
}


h3,
h4,
h5,
h6 {
    font-size: normal;
}

a {
    text-decoration: none;
    color: inherit;
}

.bold {
    font-weight: bold;
}

/* increase base font-size when screen gets wider */

html,
body {
    font-family: core.$font-stack;
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 14px;
}

@media only screen and (max-width: core.$breakpoint-md) {
    html,
    body {
        font-size: 16px;
    }
}

@media only screen and (max-width: core.$breakpoint-lg) {
    html,
    body {
        font-size: 18px;
    }
}

@media only screen and (min-width: core.$breakpoint-lg) {
    html,
    body {
        font-size: 20px;
    }
}

/* scrollbar styles */

body::-webkit-scrollbar-thumb {
    background-color: core.$primary-color;
    border-radius: 5px;
}

body::-webkit-scrollbar {
    background-color: core.$secondary-color;
    width: 0.75vw;
}

select, textarea, input {
    border: 2px transparent solid;
    border-radius: 2px;
}

input, textarea {
    transition: border-color .2s;
    &:focus {
        border-color: core.$primary-color;
    }
}

select, input, textarea, button {
    outline: none;
    font-family: core.$font-stack;
    padding: .2em .4em;
}
