@use 'core';

.header {
	background-color: core.$secondary-color;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
	height: 60px;
	border-bottom: 1px core.$primary-color solid;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
	display: flex;
	align-items: center;
	padding: 5px 15px;
	color: #fff;
	justify-content: space-between;

	ul {
		display: none;
	}

	li {
		outline: none;
		margin: 0 0.8em;
		transition: color 0.1s;

		&:hover,
		&.active {
			color: core.$primary-color;
		}
	}

	.projectCta {
		display: none;
	}

	@media only screen and (min-width: core.$breakpoint-md) {
		.projectCta {
			color: #000;
			display: block;
			background-color: core.$primary-color;
			border-radius: 10px;
			font-size: 0.8em;
			text-transform: uppercase;
		}
	}
}

.logoWrapper {
	display: flex;
	align-items: center;
}

.rudder {
	transition: all 0.2s;

	&:hover {
		transform: scale(1.05);
	}
}

@media only screen and (min-width: core.$breakpoint-md) {
	.header ul {
		display: flex;
		list-style: none;
		padding: 0;
		text-transform: uppercase;
	}

	.rightmostSection {
		display: flex;
		align-items: center;
		gap: 1em;
	}
}

.logo {
	font-size: 1.8em;
	color: core.$primary-color;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-family: Terminus;
	margin-left: 0.5em;

	&::first-letter {
		color: #fff;
	}
}

.hider {
	z-index: 5;
	background-color: #000;
	opacity: 0.8;
	position: fixed;
	width: 0;
	opacity: 0;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	transition: opacity 0.2s;

	&.visible {
		width: 100%;
		opacity: 0.8;
	}
}

.menu {
	color: #fff;
	position: fixed;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	top: 0;
	bottom: 0;
	left: 0;
	width: 0;
	max-width: 100%;
	z-index: 6;
	background-color: core.$secondary-color;
	background:
	/* top, transparent black, faked with gradient */ linear-gradient(
			rgba(20, 20, 20, 0.95),
			rgba(20, 20, 20, 0.95)
		),
		/* bottom, image */ url('/menu_bg.jpg');
	background-position: center;
	background-size: cover;
	transition: width 0.3s;

	&.visible {
		/* do not display right orange border if the menu takes the full viewport's width */
		@media screen and (min-width: core.$breakpoint-sm) {
			border-right: 2px core.$primary-color solid;
		}
		width: 600px;
	}

	.tab {
		font-size: 1.9em;
		letter-spacing: 2px;
		text-transform: uppercase;
		opacity: 0;
		transition: 0.2s;

		&.visible {
			opacity: 1;
		}

		&.activated,
		&:hover {
			color: core.$primary-color;
		}
	}
}

.headerOffset {
	height: 60px;
	background-color: core.$secondary-color;
}
