@use 'core';

.aboutBanner {
    background-color: core.$primary-color;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5em 0 4em 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.92), rgba(0, 0, 0, 0.92)),
        url('/landing_bg.webp');
    background-position: center;
    background-size: cover;

    h1 {
        font-size: 3em;
        color: #fff;
        text-transform: uppercase;
        background-clip: text;
        position: relative;
    }

    h1::before {
        position: absolute;
        top: -10px;
        left: -0.4em;
        border-top: 5px core.$primary-color solid;
        border-left: 5px core.$primary-color solid;
        height: 30px;
        width: 30px;
        content: ' ';
    }

    h1::after {
        position: absolute;
        bottom: 5px;
        right: -0.4em;
        border-bottom: 5px core.$primary-color solid;
        border-right: 5px core.$primary-color solid;
        height: 30px;
        width: 30px;
        content: ' ';
    }
}
