@use 'core';

.header {
	background-color: rgba(0, 0, 0, .92);
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
	height: 60px;
	border-bottom: 2px rgba(255, 255, 255, .1) solid;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
	display: flex;
	align-items: center;
	padding: 5px 15px;
	color: #fff;
	justify-content: space-between;

	ul {
		display: none;
		letter-spacing: 1px;

		li {
			transform: translateY(.2em);
			outline: none;
			margin: 0 0.5em;
			transition: color 0.1s;

			&:hover,
			&.active {
				color: core.$primary-color;
			}
		}
	}

	.projectCta {
		display: none;
	}

	@media only screen and (min-width: core.$breakpoint-md) {
		.projectCta {
			color: #000;
			display: block;
			background-color: core.$primary-color;
			color: rgba(255, 255, 255, .85);
			border-radius: 2px;
			padding: .4em .8em;
			font-weight: 700;
			font-size: 0.8em;
			text-transform: uppercase;
		}
	}
}

.logoWrapper {
	display: flex;
	align-items: center;
}

.rudder {
	transition: all 0.2s;

	&:hover {
		transform: scale(1.05);
	}
}

@media only screen and (min-width: core.$breakpoint-md) {
	.header ul {
		display: flex;
		list-style: none;
		padding: 0;
		text-transform: uppercase;
	}

	.rightmostSection {
		display: flex;
		align-items: center;
		> * {
			margin: 0 .4em;
		}
	}
}

.logo {
	font-size: 1.8em;
	color: core.$primary-color;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-family: MonoLisa;
	margin-left: 0.5em;

	&::first-letter {
		color: #fff;
	}
}

.hider {
	z-index: 5;
	background-color: #000;
	opacity: 0.8;
	position: fixed;
	width: 0;
	opacity: 0;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	transition: opacity 0.2s;

	&.visible {
		width: 100%;
		opacity: 0.8;
	}
}

.menu {
	background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.85)),
		url('/landing_bg.webp');
	background-position: center;
	background-size: cover;
	background-attachment: fixed;

	color: core.$text-color;
	position: fixed;
	display: flex;
	flex-direction: column;
	/*
	text-align: center;
	*/
	justify-content: center;
	top: 0;
	bottom: 0;
	left: 0;
	width: 0;
	max-width: 100%;
	z-index: 6;
	background-color: core.$secondary-color;
	transition: width 0.3s;

	.menuContainer {
		margin: 0 auto;
		max-width: 80%;
		z-index: 100;
	}

	&.visible {
		/* do not display right orange border if the menu takes the full viewport's width */
		@media screen and (min-width: core.$breakpoint-sm) {
			border-right: 2px core.$primary-color solid;
		}
		width: 600px;
	}

	.dropdownTab {
		font-size: 1em !important;
		font-family: core.$font-stack !important;
		margin: 0.4em 0;
	}

	.tab,
	.dropdownTab {
		font-family: Terminus;
		color: core.$text-color;
		font-size: 1.9em;
		letter-spacing: 2px;
		text-transform: uppercase;
		opacity: 0;
		transition: 0.2s;

		&.visible {
			opacity: 1;
		}

		&.activated,
		&:hover {
			color: core.$primary-color;
		}
	}
}

.headerOffset {
	height: 60px;
	background-color: core.$secondary-color;
}
