.mainContainer
{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
}

.greetings
{
  color: #fff;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 2.2em;
}

.aurelienImage
{
  max-width: 200px;
  height: auto;
  border-radius: 50%;
  border: 3px #e2725b solid;
  margin: 1em 0;
}

.introduction
{
  opacity: 0.9;
  color: #fff;
  font-size: 1.8em;
}

.introduction a
{
  opacity: 0.8;
  transition: opacity .2s;
}

.introduction a:hover
{
  opacity: 1.0;
}

.letterEmphasis
{
  font-size: 1.3em;
  /*margin-right: 2px*/;
  color: #e2725b;
}

.typewritten
{
  color: #e2725b;
  font-weight: 700;
}

.scrollCta
{
  font-size: 1.9em;
  color:  #fff;
  margin: 1.2em 0;
}

.centeredTextContainer
{
  align-items: center;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

/* centeredTextContainer title */

.centeredTextContainer .title
{
  font-size: 2em;
  margin-top: 0.5em;
  margin-bottom: 0.2em;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.centeredTextContainer .subtitle
{
  opacity: .8;
  margin-top: 0.2em;
}

.centeredTextContainer .title, .centeredTextContainer .subtitle
{
  color: #fff;
  text-align: center;
  font-weight: 400;
}

.projectCards > *
{
  width: 100%;
}

.projectCards
{
  display: flex;
  flex-wrap: wrap;
}


@media only screen and (min-width: 450px)
{
  .projectCards > *
  {
    width: 45%;
  }
}

@media only screen and (min-width: 1000px)
{
  .projectCards > *
  {
    width: 30%;
  }
}

@media only screen and (min-width: 1400px)
{
  .projectCards > *
  {
    width: 18%;
  }
}


/* ARROW */

.arrow{
  height: 50px;
  transform: translate(-50%,-50%);
}

.arrow span{
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 5px solid #e2725b;
  border-right: 5px solid #e2725b;

  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}

.arrow span:nth-child(2){
  animation-delay: -0.2s;
}

.arrow span:nth-child(3){
  animation-delay: -0.4s;
}

@keyframes animate {
  0%{
    opacity: 0;
    transform: rotate(45deg) translate(0, 0);
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    transform: rotate(45deg) translate(20px,20px);
  }
}
