.mainContainer
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  padding-top: 75px;
}

.greetings
{
  color: #fff;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 2.2em;
  margin-bottom: auto;
}

.aurelienImage
{
  max-width: 200px;
  height: auto;
  border-radius: 50%;
  border: 3px #e2725b solid;
  margin: 1em 0;
}

.introduction
{
  opacity: 0.9;
  color: #fff;
  font-size: 1.6em;
  letter-spacing: 1.5px;
  font-weight: 400;
  text-align: center;
}

.introduction a
{
  opacity: 0.8;
  transition: opacity .2s;
}

.introduction a:hover
{
  opacity: 1.0;
}

.letterEmphasis
{
  font-size: 1.3em;
  /*margin-right: 2px*/;
  color: #e2725b;
}

.typewritten
{
  color: #e2725b;
  font-weight: 700;
}

.scrollCta
{
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scrollCta > h2
{
  font-size: 1.9em;
  color:  #fff;
  margin: 1.2em 0;
}

.centeredTextContainer
{
  align-items: center;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

/* centeredTextContainer title */

.centeredTextContainer .title
{
  font-size: 2em;
  margin-top: 0.5em;
  margin-bottom: 0.2em;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.centeredTextContainer .subtitle
{
  opacity: .8;
  margin-top: 0.2em;
}

.centeredTextContainer .title, .centeredTextContainer .subtitle
{
  color: #fff;
  text-align: center;
  font-weight: 400;

}

.projectCards
{
  display: flex;
  justify-content: center;
}

.projectCards > *
{
  width: 100%;
}

.projectCards
{
  display: flex;
  flex-wrap: wrap;
}

.technologiesContainer
{
  margin: 0 auto;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.technologiesContainer > h2
{
  font-size: 2em;
  text-transform: uppercase;
}

.technologiesContainer > h3
{
  color: #777;
  font-size: 1.3em;
}

.technologiesContainer > h2, .technologiesContainer > h3
{
  margin: 0.5em;
  text-align: center;
}

.technologiesContainer > .technologies
{
  padding: 2em 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.technologies > img 
{
  height: auto;
  max-height: 100px;
  margin: 1em;
}

.technologiesContainer > .cta > h2
{
    font-size: 2em;
    text-align: center;
}

.technologiesContainer > .cta > a
{
  padding: 10px;
  font-size: 1.4em;
  border: 1px rgba(0, 0, 0, .5) solid;
  display: block;
  margin: 0 auto;
  max-width: 300px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: box-shadow .2s;
}


.technologiesContainer > .cta > a:hover
{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


@media only screen and (min-width: 450px)
{
  .projectCards > *
  {
    width: 45%;
  }
}

@media only screen and (min-width: 1000px)
{
  .projectCards > *
  {
    width: 30%;
  }
}

@media only screen and (min-width: 1400px)
{
  .projectCards > *
  {
    width: 17%;
  }
}

.cardButton
{
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  background-color: #e2725b;
}

.textCtaSection
{
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.textCtaSection h2
{
  font-size: 2.2em;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
}

.textCtaSection p
{
  font-size: 1.5em;
}

.ctaButton
{
  margin: 1em 0;
  font-size: 1.5em;
  background-color: #e2725b;
}

/* ARROW */

.arrow{
  height: 50px;
  transform: translate(-50%,-50%);
}

.arrow span{
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 5px solid #e2725b;
  border-right: 5px solid #e2725b;

  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}

.arrow span:nth-child(2){
  animation-delay: -0.2s;
}

.arrow span:nth-child(3){
  animation-delay: -0.4s;
}

@keyframes animate {
  0%{
    opacity: 0;
    transform: rotate(45deg) translate(0, 0);
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    transform: rotate(45deg) translate(20px,20px);
  }
}
