.mainContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 15px;
	padding-top: 100px;
	position: relative;
}

.introduction {
	text-align: center;
	color: #fff;
	font-size: 1.5em;
}

.introduction h1 {
	font-size: 2em;
	font-weight: 700;
	letter-spacing: 2px;
	text-align: center;
}

.introduction h3 {
	font-weight: 400;
	opacity: 0.8;
}

.introduction .activity {
	color: #818189;
	max-width: 700px;
	margin: 0 auto;
	font-size: 0.9em;
	line-height: 1.2em;
}

.introduction .activity a {
	color: #e2725b;
	transition: opacity 0.2s;
}

.introduction .activity .emphase {
	font-weight: 700;
}

.introduction .activity a:hover {
	opacity: 0.9;
}

.introductionCurve {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
	transform: rotate(180deg);
}

.introductionCurve svg {
	position: relative;
	display: block;
	width: calc(127% + 1.3px);
	height: 141px;
}

.shape-fill {
	fill: #141414;
}

.introductionCurve .shapeFill {
	fill: #b55b49;
}

.backgroundCareer {
	color: #fff;
	padding-top: 2em;
	padding-bottom: 1em;
	background-color: #b55b49;
	text-align: center;
}

.career {
	align-items: center;
	justify-content: center;
}

.career h1 {
	margin: 0;
	position: relative;
	z-index: 999;
	font-size: 3em;
}

.careerItems {
	display: flex;
	justify-content: center;
	align-items: center;
}

.careerItem {
	border-radius: 2px;
	background-color: #fff;
	color: #000;
	margin: 1em 0;
	display: flex;
}

.careerItem .careerImage {
	max-width: 100px;
	align-self: flex-start;
}

.careerItem div {
	padding: 5px 10px;
}

.socials {
	padding: 1.5em 0;
	fill: rgba(255, 255, 255, .9);
}

.aurelienPhoto {
	border-radius: 50%;
}

.greetings {
	color: #fff;
	font-weight: 400;
	letter-spacing: 2px;
	font-size: 2.2em;
	margin-bottom: auto;
}

.aurelienImage {
	max-width: 200px;
	height: auto;
	border-radius: 50%;
	border: 3px #e2725b solid;
	margin: 1em 0;
}

.letterEmphasis {
	font-size: 1.3em;
	/*margin-right: 2px*/
	color: #e2725b;
}

.colorEmphase {
	color: #e2725b;
}

.typewritten {
	color: #e2725b;
	font-weight: 700;
}

.scrollCta {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.scrollCta div {
	text-align: center;
	color: #fff;
	margin: 1.5em 0 2em 0;
}

.scrollCta h4,
.scrollCta h5 {
	margin: 0.7em 0;
}

.scrollCta a {
	padding-bottom: 0.3em;
	transition: opacity 0.2s;
	opacity: 0.7;
}

.scrollCta a:hover {
	opacity: 1;
}

.scrollCta h4 {
	font-size: 2.2em;
}

.scrollCta h5 {
	font-size: 1.5em;
}

.centeredTextContainer {
	align-items: center;
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	background-color: #fff;
}

/* centeredTextContainer title */

.centeredTextContainer .subtitle {
	opacity: 0.8;
	margin-top: 0.2em;
}

.centeredTextContainer .title,
.centeredTextContainer .subtitle {
	text-align: center;
	font-weight: 400;
}

.projectsContainer {
	color: #000;
	padding-top: 0.7em;
	padding-bottom: 2.5em;
}

.projectsContainer h2 {
	font-size: 3em;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin: 0;
}

.projectsContainer h3 {
	color: #fff;
}

/**
 * TECHNOLOGIES SECTION
 */

.technologiesContainer {
	margin: 0 auto;
	padding-bottom: 3em;
}

.technologiesContainer > h2 {
	font-size: 2em;
}

.technologiesContainer > h3 {
	opacity: 0.8;
	font-size: 1.5em;
}

.technologiesContainer > h2,
.technologiesContainer > h3 {
	margin: 0.5em;
	text-align: center;
}

.technologiesContainer > .technologies {
	padding: 2em 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.technologies {
	display: flex;
}

.technologies > div {
	padding: 10px;
	background-color: #fff;
	margin: 0.5em;
	border-radius: 50%;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.technologies img {
	height: auto;
	max-height: 70px;
	margin: 1em;
}

.technologies > div:hover img
{
	transform: scale(1.1);
	transition: .3s;
}

.technologiesContainer > .cta > h2 {
	font-size: 2em;
	text-align: center;
}

.technologiesContainer > .cta > a {
	padding: 10px;
	font-size: 1.4em;
	display: block;
	margin: 0 auto;
	max-width: 300px;
	border-radius: 5px;
	color: #000;
	background-color: #fff;
	text-align: center;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: box-shadow 0.2s;
}

.technologiesContainer > .cta > a:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.blogSection {
	min-height: 400px;
	display: flex;
}

.textCtaSection {
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #fff;
}

.textCtaSection h2 {
	font-size: 2.2em;
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 2px;
}

.textCtaSection p {
	font-size: 1.5em;
}

.ctaButton {
	margin: 1em 0;
	font-size: 1.5em;
	background-color: #e2725b;
}
