@use 'core';

.introductionSection {
	background-image: linear-gradient(rgba(0, 0, 0, 0.92), rgba(0, 0, 0, 0.92)),
		url('/landing_bg.webp');
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	padding-bottom: 2em;

	position: relative;

	.landingWave1 {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
	}
}

.ctas {
	padding-top: 0.5em;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.2em;
	> a {
		margin: 0.5em 0;
	}
	flex-direction: column;

	@media only screen and (min-width: 800px) {
		flex-direction: row;

		> a {
			margin: 0 0.5em;
		}
	}
}

.mainContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 60vh;
	align-items: center;
	padding-top: 1.5em;
	padding-bottom: 3em;
	position: relative;

	> * {
		margin: 1em 0;
	}

	.introduction {
		color: #fff;
		font-size: 1.2em;
		text-align: center;

		> * {
			margin: 0.3em 0 !important;
		}

		h1 {
			margin: 0;
		}
		h3 {
			margin: 0;
		}

		h1,
		h3 {
			text-align: center;
		}

		h1 {
			transform: uppercase;
			font-size: 2em;
			font-weight: 700;
			letter-spacing: 2px;

			.period {
				color: core.$primary-color;
			}
		}

		h3 {
			font-weight: 400;
			opacity: 0.8;
			font-size: 1.3em;
			margin-bottom: 1em;
		}

		.ctas {
			> a {
				transition: all 0.2s;
				border-radius: 2px;
				padding: 0.3em 0.9em;
				text-transform: uppercase;
				font-weight: 700;

				&:hover {
					transform: translateY(-0.1em);
					box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
				}
			}

			span {
				display: flex;
			}

			.hiremeCta {
				background-color: #e2725b;
				span {
					transform: translateY(0.15em);
				}
			}

			.projectsCta {
				background-color: #fff;
				color: #000;

				span {
					transform: translateY(0.1em);
					span {
						margin-left: 0.3em;
					}
				}
			}
		}

		.activity {
			color: #818189;
			max-width: 700px;
			margin: 0 auto;
			font-size: 0.9em;
			line-height: 1.4em;

			a {
				color: core.$primary-color;
				transition: opacity 0.2s;

				&:hover {
					opacity: 0.9;
				}
			}
		}
	}
}

.introductionCurve {
	display: none;
}

@media only screen and (min-width: 600px) {
	.introductionCurve {
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		overflow: hidden;
		line-height: 0;
		z-index: 2;
		transform: rotate(180deg);
	}

	.introductionCurve svg {
		position: relative;
		display: block;
		width: calc(127% + 1.3px);
		height: 141px;
	}

	.shape-fill {
		fill: #141414;
	}

	.introductionCurve .shapeFill {
		fill: #b55b49;
	}
}

.backgroundTechnologies {
	color: #fff;
	background-color: #b55b49;
	text-align: center;
}

.socials {
	padding: 1.5em 0;
	fill: rgba(255, 255, 255, 0.9);
}

.aurelienPhoto {
	border: 5px #e2725b solid !important;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/**
 * TECHNOLOGIES SECTION
 */

.technologiesContainer {
	margin: 0 auto;
	transform: translateY(-3.3em);

	.rotatedTitle {
		margin: 0;
		background-color: core.$primary-color;
		padding: 6px;
		border-radius: 2px;
		font-size: 2.2em;
		text-transform: uppercase;
		box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	}

	h3 {
		font-size: 1.5em;
		color: core.$text-color;
		margin-top: 1.5em;
	}

	.technologies {
		overflow-x: scroll;
		padding: 0.5em 0;
		display: flex;

		@media only screen and (min-width: core.$breakpoint-sm) {
			overflow-x: auto;
			flex-wrap: wrap;
			justify-content: center;
		}

		> div {
			padding: 1.2em;
			background-color: core.$background-color;
			border: 3px core.$primary-color solid;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 50%;
			margin: 1em;
			box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

			&:hover img {
				transition: transform 0.8s;
				transform: rotatez(360deg);
			}

			img {
				margin: 0 auto;
				display: block;
				height: auto;
				width: 70px;
			}
		}
	}

	.cta {
		h2 {
			font-size: 2em;
			text-align: center;
		}

		a {
			text-transform: uppercase;
			padding: 10px;
			font-size: 1.1em;
			display: block;
			margin: 0 auto;
			max-width: 300px;
			border-radius: 2px;
			border: 3px core.$primary-color solid;
			color: core.$primary-color;
			background-color: core.$background-color;
			text-align: center;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
			transition: box-shadow 0.2s;

			&:hover {
				box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
			}
		}
	}
}

.blogSection {
	background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.85)),
		url('/landing_blog.webp');
	background-position: center;
	background-size: cover;
	min-height: 400px;
	display: flex;

	.textCtaSection {
		padding-top: 1.5em;
		padding-bottom: 1.5em;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		color: #fff;

		h2 {
			font-size: 2.5em;
			text-transform: uppercase;
			font-weight: 400;
			letter-spacing: 2px;
		}

		p {
			font-size: 1.2em;
		}

		.ctaButton {
			text-transform: uppercase;
			padding: 10px;
			font-size: 1.1em;
			display: block;
			margin: 0 auto;
			max-width: 300px;
			border-radius: 2px;
			border: 3px core.$background-color solid;
			color: core.$background-color;
			background-color: core.$primary-color;
			text-align: center;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
			transition: box-shadow 0.2s;

			&:hover {
				box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
			}
		}
	}
}

.servicesRoot {
	background-color: #b55b49;
}

.test {
	height: 50px;
	width: 100%;
}

.services {
	padding: 2em 0;

	> * {
		margin: 1.2em 0;
	}

	.heading {
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
		margin: 0 auto;
		padding: 0.5em 0.5em 0.2em 0.5em;
		text-align: center;
		color: rgba(255, 255, 255, 1);
		background-color: #000;
		border: 3px #e2725b solid;
		transform: translateY(-0.5em);
		text-transform: uppercase;
		max-width: 700px;
		font-size: 1.7em;
		letter-spacing: 1.2px;
		color: #e2725b;
		border-radius: 2px;
	}

	.serviceItems {
		display: grid;
		grid-template-columns: 1fr;
		gap: 1em;

		@media only screen and (min-width: 800px) {
			grid-template-columns: 1fr 1fr;
		}
	}

	.serviceItem {
		box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
		display: flex;
		background-color: #111;
		color: rgba(255, 255, 255, 0.9);
		font-size: 1.2em;
		border-radius: 2px;
		background-image: linear-gradient(
				rgba(0, 0, 0, 0.92),
				rgba(0, 0, 0, 0.92)
			),
			url('/landing_website_service.jpg');
		background-position: center;
		background-size: cover;
		flex-direction: column;

		.logo {
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: #000;
			padding: 0.5em;
			font-size: 2em;
			border-bottom: 2px #e2725b solid;
		}

		&.right {
			flex-direction: column-reverse;
		}

		@media only screen and (min-width: 800px) {
			&.left,
			&.right {
				flex-direction: row;
			}

			.logo {
				border-bottom: none;
			}

			&.left {
				justify-content: start;

				.logo {
					border-right: 2px #e2725b solid;
				}
			}

			&.right {
				justify-content: space-between;

				.logo {
					border-left: 2px #e2725b solid;
				}
			}
		}

		.description {
			padding: 1em;

			.title {
				text-transform: uppercase;
			}

			p {
				padding: 0;
			}
		}
	}

	.ctas {
		> a {
			transition: all 0.2s;
		}
		> a:hover {
			box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
		}
		margin-bottom: 0;
	}

	.freeEstimate {
		text-transform: uppercase;
		font-weight: 700;
		padding: 0.4em 0.8em;
		border-radius: 2px;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: #000;
		color: #e2725b;

		svg {
			margin-right: 0.3em;
		}
	}

	.solutionsCta {
		text-transform: uppercase;
		font-weight: 700;
		border: 2px #fff solid;
		border-radius: 5px;
		padding: 0.4em 0.8em;
		color: #fff;
	}
}

.howIWorkRoot {
	position: relative;
	background-image: linear-gradient(rgba(0, 0, 0, 0.92), rgba(0, 0, 0, 0.92)),
		url('/landing_cloud_service.webp');
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	padding: 2.5em 0;

	.prioritiesContainer {
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		h2 {
			font-size: 2.25em;
			text-transform: uppercase;
			text-align: center;
			margin: 0;
			color: #fff;
		}

		.priorityCount {
			font-size: 1.8em;
			color: #e2725b;
		}

		.wave2 {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
		}

		min-height: 40vh;
		color: #fff;

		.priorities {
			padding: 1em 0;
			display: grid;
			grid-template-columns: 1fr;

			@media screen and (min-width: 800px) {
				grid-template-columns: 1fr 1fr 1fr;
			}

			.priority {
				position: relative;
				z-index: 1;
				display: flex;
				flex-direction: column;
				align-items: center;

				.divider {
					z-index: 0;
					position: absolute;
					top: 2.5em;
					left: 0;
					right: 0;
					height: 3px;
					background-color: #e2725b;
				}

				.iconWrapper {
					.iconBox {
						box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
						display: flex;
						align-items: center;
						font-size: 2.2em;
						background-color: #000;
						transform: rotate(45deg);
						border: 3px #e2725b solid;
						padding: 0.6em;

						svg {
							transform: rotate(-45deg);
						}
					}
				}

				.text {
					margin-top: 2em;
					font-size: 1.3em;
					padding: 1em 0.5em 2em 0.5em;

					@media only screen and (min-width: 800px) {
						padding: 0 1em;
					}

					h4 {
						text-align: center;
						text-transform: uppercase;
						min-height: 2.5em;
					}

					p {
						margin: 0;
					}
				}
			}
		}
	}

	.projectCta {
		margin: 0 auto;
		padding: 0.5em 0.8em;
		background-color: #e2725b;
		font-size: 1.3em;
		text-transform: uppercase;
		font-weight: 700;
		transition: 0.2s;

		&:hover {
			transform: translateY(-0.3em);
			box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
		}
	}
}

/********************************************************************************************/
/*                                     PROJECTS SECTION                                     */
/********************************************************************************************/

.projectsRoot {
	background-color: #b55b49;
	padding: 2em 0 3.5em 0;
}

.projectsContainer {
	color: rgba(255, 255, 255, 0.9);
	background-color: #191b1f;
	border-radius: 1.5em;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	position: relative;
}

.blob {
	position: absolute;
	right: 0;
	height: 30rem;
	width: 30rem;
	z-index: -1;
	opacity: 0.6;
}

.projectsHeader {
	text-align: center;
	position: relative;
	z-index: 5;
	max-width: 800px;
	margin: 0 auto;
	padding: 3em;
	margin-bottom: 2em;

	h2,
	h5 {
		margin: 0.2em 0;
	}

	h2 {
		font-size: 2em;
		text-transform: uppercase;
	}

	h5 {
		font-size: 1.1em;
		font-weight: 400;
	}
}

.projects {
	padding-bottom: 2em;

	@media only screen and (min-width: 800px) {
		padding: 2em;
	}

	.project {
		.imageWrapper {
			display: none;
			min-width: 40%;
			align-items: center;
			justify-content: center;

			@media only screen and (min-width: 800px) {
				display: flex;
			}
		}

		display: flex;
		justify-content: space-around;

		.projectText {
			align-items: flex-start;
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding: 1em;

			.projectTitle {
				max-width: 300px;
				font-size: 1.8em;
				color: #fff;
			}

			p {
				line-height: 1.3em;
				font-size: 1.2em;
			}
		}

		.visitProject {
			background-color: core.$primary-color;
			padding: 0.4em 0.8em;
			font-size: 1.2em;
			font-weight: 700;
			text-transform: uppercase;

			&:hover {
				box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
			}
		}
	}

	.projectImage {
		box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
		border: 5px #e2725b solid !important;
		border-radius: 2px;
	}
}

.formSection {
	padding: 2em 0;
	background-color: #b55b49;
	color: #fff;

	.formContainer {
		padding: 2em;
		background-color: #191b1f;
		box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
		border-radius: 1.5rem;
	}

	.formHeading {
		text-align: center;

		h2 {
			font-size: 2em;
			text-transform: uppercase;
			text-align: center;
			margin: 0;
		}

		h4 {
			margin: 0;
			font-size: 1;
			font-weight: 400;
		}

		margin-bottom: 2em;
	}

	.formError {
		color: red;
		font-size: .9em;
		text-align: center;
		display: inline-block;
		width: 100%;
		padding: .5em 0;
	}

	.orSendMailTo {
		text-align: center;
		padding: 1em 0;
		font-size: 1em;
	}

	form {
		display: grid;
		row-gap: 1em;
		@media only screen and (min-width: 800px) {
			grid-template-columns: 3fr 4fr 1fr;
			
		}
input {
				&:nth-child(1) {
					margin-bottom: 0.5em;
				}
			}
		div {
			display: flex;
			flex-direction: column;
		}

		input {
			font-size: 1.1em;
		}

		textarea {
			font-size: 0.9em;
			resize: vertical;
		}

		textarea,
		input {
			color: #191b1f;
			border: 2px transparent solid;
			border-radius: 2px;
			margin: 0 0.5em;
			padding: 0.4em 0.8em;
			transition: border-color 0.2s;

			&:focus {
				border-color: #e2725b;
			}
		}

		button[type='submit'] {
			font-size: 1em;
			background-color: #e2725b;
			text-transform: uppercase;
			color: #fff;
			padding: 0.4em 0.8em;
			align-self: flex-end;
		}
	}
}
