@use 'core';

.mainContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 1.5em;
	padding-bottom: 3em;
	position: relative;

	.introduction {
		color: #fff;
		font-size: 1.2em;

		h1, h3 {
			text-align: center;
		}

		h1 {
			font-size: 2em;
			font-weight: 700;
			letter-spacing: 2px;
			font-family: Terminus;
		}

		h3 {
			font-weight: 400;
			opacity: 0.8;
		}

		.activity {
			color: #818189;
			max-width: 700px;
			margin: 0 auto;
			font-size: 0.9em;
			line-height: 1.4em;

			a {
				color: core.$primary-color;
				transition: opacity 0.2s;

				&:hover {
					opacity: 0.9;
				}
			}
		}
	}
}

.introductionCurve {
	display: none;
}

@media only screen and (min-width: 600px) {
	.introductionCurve {
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		overflow: hidden;
		line-height: 0;
		z-index: 2;
		transform: rotate(180deg);
	}

	.introductionCurve svg {
		position: relative;
		display: block;
		width: calc(127% + 1.3px);
		height: 141px;
	}

	.shape-fill {
		fill: #141414;
	}

	.introductionCurve .shapeFill {
		fill: #b55b49;
	}
}

.backgroundTechnologies {
	color: #fff;
	background-color: #b55b49;
	text-align: center;
}

.socials {
	padding: 1.5em 0;
	fill: rgba(255, 255, 255, 0.9);
}

.aurelienPhoto {
	border-radius: 50%;
}

/**
 * TECHNOLOGIES SECTION
 */

.technologiesContainer {
	margin: 0 auto;
	transform: translateY(-3.3em);

	.rotatedTitle
	{
		margin: 0;
		background-color: core.$primary-color;
		padding: 6px;
		border-radius: 2px;
		font-size: 2.2em;
		text-transform: uppercase;
			box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	}

	h3 {
		font-size: 1.5em;
		color: core.$text-color;
		margin-top: 1.5em;
	}

	.technologies {
		overflow-x: scroll;
		padding: .5em 0;
		display: flex;

		@media only screen and (min-width: core.$breakpoint-sm) {
			overflow-x: auto;
			flex-wrap: wrap;
			justify-content: center;
		}

		> div {
			padding: 1.2em;
			background-color: core.$background-color;
			border: 3px core.$primary-color solid;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 50%;
			margin: 1em;
			box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

			&:hover img {
				transition: transform .8s;
				transform: rotatez(360deg);
			}

			img {
				margin: 0 auto;
				display: block;
				height: auto;
				width: 70px;
			}
		}
	}

	.cta {
		h2 {
			font-size: 2em;
			text-align: center;
		}

		a {
			text-transform: uppercase;
			padding: 10px;
			font-size: 1.1em;
			display: block;
			margin: 0 auto;
			max-width: 300px;
			border-radius: 2px;
			border: 3px core.$primary-color solid;
			color: core.$primary-color;
			background-color: core.$background-color;
			text-align: center;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
			transition: box-shadow 0.2s;

			&:hover {
				box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
			}
		}
	}
}

.blogSection {
	min-height: 400px;
	display: flex;

	.textCtaSection {
		padding-top: 1.5em;
		padding-bottom: 1.5em;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		color: #fff;

		h2 {
			font-size: 2.5em;
			text-transform: uppercase;
			font-weight: 400;
			letter-spacing: 2px;
		}

		p {
			font-size: 1.2em;
		}

		.ctaButton {
			text-transform: uppercase;
			padding: 10px;
			font-size: 1.1em;
			display: block;
			margin: 0 auto;
			max-width: 300px;
			border-radius: 2px;
			border: 3px core.$background-color solid;
			color: core.$background-color;
			background-color: core.$primary-color;
			text-align: center;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
			transition: box-shadow 0.2s;

			&:hover {
				box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
			}
		}
	}
}
