@use 'core';

.projectHeader {
    padding-top: 1em;
    min-height: 300px;
    background-color: rgb(20, 20, 20);
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 2em;

    h1 {
        margin: 0.4em 0;
        font-size: 2.2em;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    .sortByTechnology {
        margin-top: 1em;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        max-width: 600px;

        > a {
            border: 1px rgba(255, 255, 255, 0.3) solid;
            padding: 0.5em;
            margin: 0.4em;
            padding-bottom: 5px;
            font-family: Terminus;
            font-size: 1em;
            transition: border-color 0.2s;
            text-transform: uppercase;

            &.selected {
                background-color: core.$primary-color;
                color: #000;
            }

            &:hover,
            &.selected {
                border-color: core.$primary-color;
            }

            > span {
                display: block;
                transform: translateY(-0.1em);
            }
        }
    }
}

.projectContainer {
    padding-top: 2em;
    padding-bottom: 2em;
    background-color: #191b1f;
    min-height: calc(100vh - 70px);
}

.projectsWrapper {
    display: grid;
    column-gap: 3em;
    row-gap: 2em;
    grid-template-columns: repeat(2, 1fr);
}

.projectCard {
    margin: 0 auto;
    transition: 0.2s;
    margin: 0.5em;
    color: core.$text-color;
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
    height: auto;

    .projectHeadingGroup {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h2 {
            font-size: 1.5em;
        }

        .codeLinks {
            display: flex;
            align-items: center;
            column-gap: 0.3em;

            a {
                transition: 0.2s color;
            }

            > a:hover {
                color: core.$primary-color;
            }
        }
    }

    .technologies {
        position: absolute;
        transform: translateX(-0.8em);
        z-index: 1;
        left: 0;
        top: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 0.2em;

        .technoWrapper {
            border-radius: 50%;
            background-color: #000;
            width: 40px;
            outline: 1px core.$primary-color solid;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .imageFrame {
        position: relative;
        align-self: stretch;
        transition: outline 0.2s;
        padding: 0.3em;
        outline: 1px core.$primary-color solid;
        margin-bottom: 1em;
        &:hover {
            > .imageWrapper > img {
                filter: grayscale(0%);
            }
            outline: 5px core.$primary-color solid;
        }
    }

    .imageWrapper {
        overflow: hidden;
        height: 300px;
        overflow: hidden;
        > img {
            filter: grayscale(100%);
            transition: all 0.2s;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
