.socials {
	display: flex;
	justify-content: center;
	padding: 0.5em;
}

.socials svg {
	width: auto;
	height: 35px;
	margin: 0 0.3em;
	fill: inherit;
	transition: 0.2s;
}

.socials svg:hover
{
	opacity: .7;
}
